extends layout

block content
  body

  div(class='text-center center-div' id='frontPage')
    div(class='container w-25 border py-3')

      p This is a test by Christoffer from Aalborg University Copenhagen.
      p The app shows how you could implement a personal portfolio hej
      div(class='button')
        div(class=container)
          a.button-link(href='/about' onpointerover="ABOUT ME")
            button
              span ABOUT ME
          a.button-link(href='/projects' data-value="PROJECTS")
            button
              span PROJECTS
